body {
    &:not(p) {
        text-transform: capitalize;
    }
}

a.link {
    transition: all .3s ease-in-out;

    &:hover {
        text-decoration: none;
    }
}

ul,
ol {
    &.list {
        list-style-type: none;
        padding: 0;
        margin: 0;

        a {
            &.link {
                // text-decoration: none;
                color: $mainFColor;
                cursor: pointer;
                display: block;

                color: $mainFColor;

                &:hover {

                    color: $subFColor;
                }

                &.mainlink {
                    text-transform: uppercase;
                    color: $mainFColor;
                    font-size: 13px;
                }

            }


        }



    }

}

.slick-slider {
    .slick-slide {
        outline: none;
        border: none;

        &:focus {
            outline: none;
            border: none;
        }
    }
}



button {
    outline: none;
}

img {

    max-width: 100%;
}

input {
    outline-offset: 0;
    padding: 10px 10px;

    &:focus {
        border: none;
        outline: none;
    }

}


.container {
    &.out-container {

        &.right {
            padding-right: 0;
            padding-left: 0;
            max-width: 100vw;
            margin-right: 0;

        }

        @media (min-width: 768px) {
            &.left {
                padding-left: 0;
                margin-left: 0;
                max-width: $MWContainerMed;
            }

            &.right {
                padding-right: 0;
                padding-left: 0;
                max-width: 100vw;
                margin-right: 0;

                .slick-space {
                    width: $offsetLMed;

                }
            }
        }

        @media (min-width: 992px) {

            &.left {
                // padding-left: 0;
                // margin-left: 0;
                max-width: $MWContainerlg;
            }

            &.right {
                // padding-left: 0;
                // padding-right: 0;
                // max-width: 100vw;

                .slick-space {
                    width: $offsetLLg;
                }


            }

        }

        @media (min-width: 1200px) {
            &.left {
                // padding-left: 0;
                // margin-left: 0;
                max-width: $MWContainerxl;
            }

            &.right {

                .slick-space {
                    width: $offsetLXl;

                }


            }




        }



    }
}