ul {
    list-style-type: none !important;
    padding: 0 !important;
    // margin-bottom: 0 !important;
}

a {
    text-decoration: none !important;
    color: $mainFColor !important;
    cursor: pointer;
    text-transform: uppercase !important;
    transition: all .3s ease-in-out;
}

button {
    outline: none;
}

img {

    max-width: 100%;
}

input {
    outline-offset: 0;
    padding: 10px 10px;

    &:focus {
        border: none;
        outline: none;
    }

}