ul {
    list-style-type: none !important;
    padding: 0 !important;
}

a {
    text-decoration: none !important;
}

button {
    outline: none;
}

img {

    max-width: 100%;
}

input {
    &:focus {
        border: none;
        outline: none;
    }

}