.colors-types {

    position: relative;

    .arrow {
        position: absolute;
        padding: 1em;
        left: 0;
        width: 90%;
        background-color: rgba($mainFColor, 1);
        text-align: center;
        justify-content: center;
        box-shadow: 0 40px 43px 0 rgba(0, 0, 0, 0.18);
        // box-shadow: 0 -33px 27px 0 rgba(0, 0, 0, 0.14), 0 4px 49px 0 rgba(0, 0, 0, 0.14);



        &.prev-arrow {
            top: 0;
        }

        &.next-arrow {
            bottom: 0;
            box-shadow: 0 -33px 27px 0 rgba(0, 0, 0, 0.14), 0 4px 49px 0 rgba(0, 0, 0, 0.14);

        }

    }

    .slick-slider {
        width: 100% !important;


        &.vertical {
            .slider-item {
                width: 100%;
                height: 104px;

                @media #{$minMed} {
                    width: 90% !important;

                }

                border: none !important;
                padding: 2em 1em;
                @include flexCenter;
                // @extend %px;
                font-size: 1.25em;
                font-weight: 600;
                color: $mainFColor;
                cursor: pointer;

                transition: all .3s ease-in-out;

                .deg {
                    font-weight: normal;
                }

                .selected-container {
                    border-radius: 50%;
                    overflow: hidden;
                    opacity: 0;
                    visibility: hidden;

                    transition: all .3s ease-in-out;

                }

                &:hover {
                    @media #{$minMed} {
                        width: 100% !important;

                    }


                }

                &.select {
                    @media #{$minMed} {
                        width: 100% !important;
                        box-shadow: 0 -12px 68px 0 rgba(96, 42, 34, 0.44);

                    }



                    .selected-container {
                        opacity: 1;
                        visibility: visible;

                    }

                }


                &.latte-img {
                    position: relative;
                    padding: 0;
                    object-fit: contain;
                    height: 104px;

                    img {
                        height: 100%;
                        width: 100% !important;
                    }

                    .latte-desc {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        // padding: 2em 0;
                        @include flexCenter;
                        @extend %px;
                    }
                }


            }
        }
    }
}

%px {
    padding-left: 1em;
    padding-right: 1em;
}