$minSTablet:'(min-width:620px)';
$minMed:'(min-width:768px)';
$minLarge:'(min-width:1024px)';
$minXLarge:'(min-width:1200px)';
$spaceMed:calc((100vw - 720px) / 2);
$spaceLg:calc((100vw - 960px) / 2);
$spaceXl:calc((100vw - 1140px) / 2);
$MWContainerMed:calc(((100vw - 720px) / 2) + 720px);
$MWContainerlg:calc(((100vw - 960px) / 2) + 960px);
$MWContainerxl:calc(((100vw - 1140px) / 2) + 1140px);
$offsetLMed:calc((((100vw - 720px)/2 + 720px - 15px) / 3));
$offsetLLg:calc(((((100vw - 960px) / 2) + 960px - 15px) / 3));
$offsetLXl:calc(((((100vw - 1140px) / 2) + 1140px - 15px) / 3));

$htmlFSize:16px;
$bodyFSize:1rem;
$h1FSize:2em;
$h2FSize:1.5em;
$h3FSize:1.17em;
$h4FSize:1em;
$h5FSize:.83em;
$h6FSize:.67em;
$mainFColor:#ffffff;
$subFColor:#edb15d;
$mainBColor:#000000;
$mainGColor:#d8d8d8;
$subGColor:#cecece;