$minSTablet:'(min-width:620px)';
$minLarge:'(min-width:768px)';
$minDesktop:('min-width:1200px');
$htmlFSize:16px;
$bodyFSize:1rem;
$h1FSize:2em;
$h2FSize:1.5em;
$h3FSize:1.17em;
$h4FSize:1em;
$h5FSize:.83em;
$h6FSize:.67em;
$mainFColor:#ffffff;
$subFColor:#edb15d;
$mainBColor:#000000;