html {
    body {
        font-family: Eina03;

        iframe {
            border: 0;
            width: 100%;
        }


    }
}

section {
    padding: 2em 0;
    border-bottom: 1px solid rgba($mainGColor, 1);

    &.products {
        padding-top: 0;
    }

    .title {
        font-size: 40px;
        margin-bottom: .7em;
        font-family: Cochin;

        @media #{$minMed} {
            font-size: 48px;
            margin-bottom: 26px;

            &.related {
                margin-bottom: 40px;
            }
        }

        font-weight: bold;
        line-height: 1.17;
    }

    @media #{$minMed} {
        border-bottom: 0;
        border-top: 1px solid rgba($mainGColor, 1);
        padding: 5.25em 0 4.25em 0;

        &.products {
            padding: 0;

            .unit {

                @media #{$minMed} {
                    padding-top: 4.25em;
                    padding-bottom: 4.25em;

                }


            }

        }

    }

}

.social-list {
    .item {
        cursor: pointer;

        img {
            // background-color: transparent;

            &:hover {
                box-shadow: 2px 2px 15px rgba($subFColor, .5);
            }

        }


    }
}