.breadcrumb-area {
    padding: 8px 7px;

    .breadcrumb {
        &.list {

            padding: 0;
            margin-bottom: 0;
            border-radius: 0;
            background-color: transparent;

            .list-item {
                &+.list-item {
                    &::before {
                        content: "・";
                        color: $mainBColor;
                    }
                }


                @extend %fontstyle;

                .link {
                    @extend %fontstyle;

                    &:hover {
                        color: $subFColor;
                    }
                }
            }
        }

    }


}

%fontstyle {
    font-size: 12px;
    font-weight: bold;
    line-height: 2;
    letter-spacing: 0.2px;
    color: $mainBColor;

}