.related-item {
    .view-link {
        font-size: 14px;
        // line-height: 1.14;
        color: black;
        margin-bottom: .9em;

        &:hover {
            color: rgba($subFColor, 1);
        }
    }

    .slick-slider {
        .slick-slide {
            margin-right: 15px; //large

            &:focus {
                outline: none;
            }

        }


        .card {
            height: 468px;
            padding-left: 1em;
            padding-right: 1em;
            border: 1px solid rgba($subGColor, 1);
            /* border-radius: .25rem;*/
            transition: all .5s ease-in-out;

            .cart {
                position: absolute;
                border-radius: 50%;
                background-color: $mainBColor;
                top: 8px;
                right: 8px;
                padding: .75em;
                cursor: pointer;
                transition: all .3s ease-in-out;


                &:hover {
                    box-shadow: 1px 2px 15px rgba($mainBColor, .2);
                    background-color: rgba($mainBColor, .8);

                }
            }

            transform: scale(1, .95);

            &:hover {
                box-shadow: 1px 2px 15px 8px rgba($mainBColor, .02);
                transform: scale(1, 1);
            }


            .img-container {
                height: 256px; //
                width: 122px; //
                display: block;
                margin: auto;

                img {
                    max-height: 100%;
                    height: 100%;

                }
            }

            .card-body {
                border-bottom: 1px solid $subGColor;
                display: flex;
                justify-content: center;
                align-items: center;

                .card-title {
                    font-weight: 600;
                    line-height: 1.5;
                    letter-spacing: 0.3px;
                    font-size: 1em;


                }

            }

            .card-footer {
                background-color: $mainFColor;
                padding: 15px 0 33px 0;

                .type {
                    font-size: .75em;
                    line-height: 2;
                    letter-spacing: 0.4px;
                    margin-bottom: 36px;


                }

                .desc {
                    font-size: .875em;
                    font-weight: bold;
                    line-height: 1.14;
                    letter-spacing: 0.5px;
                }
            }
        }
    }
}