header {
    z-index: 999;

    &.sticky {
        //background-color: $mainBColor !important;
        position: fixed;
        top: 0;
        width: 100%;
        left: 0;
    }

    .header-content {
        background-color: $mainBColor !important;
        box-shadow: inset 0 -2px 0 0 #d6ac76;
        // position: relative;
        padding: 18px 0;

        @media #{ $minMed } {

            //height: 168px;
            padding: 32px 0 28px 0;
            // padding: 25px 0;
        }

        .upper-header {
            .logo-img {
                text-align: center;
            }

            .icons-list {
                display: flex !important;
                justify-content: space-around;

                @media #{ $minMed } {
                    justify-content: space-between;
                }

                .icons-item {
                    text-align: center;
                    color: $mainFColor;
                    cursor: pointer;
                    position: relative;
                    transition: all .3s ease-in-out;

                    &:not(.cart) {
                        &:hover {
                            color: $subFColor !important;

                            .icon {
                                color: $subFColor !important;
                            }

                        }

                    }



                    &.cart {
                        cursor: default;

                        &:before {
                            content: attr(data-cart);
                            position: absolute;
                            top: -40%;
                            left: 50%;
                            transform: translateX(-50%);
                            width: 8px;
                            height: 20px;
                            font-size: 13px;
                            font-weight: 600;
                            line-height: 1.54;
                            color: $subFColor;

                        }

                    }

                    .icon-desc {
                        @extend %smallfontstyle;
                    }


                }

                &:last-of-type {
                    text-align: right;
                }
            }



        }

        .lower-header {
            .navbar {
                padding-left: 0 !important;
                padding-right: 0 !important;

                .nav-item {
                    border: 2px solid rgba($mainBColor, .8);

                    &:first-of-type {
                        padding-left: 0 !important;
                    }

                    .nav-link {
                        color: $mainFColor !important;
                        font-size: 8px;

                        font-weight: 600;
                        line-height: 1.23;
                        letter-spacing: 1.2px;
                        transition: all .3s ease-in-out;
                        display: block;
                        padding: 15px 8px;

                        @media #{$minLarge} {
                            font-size: 13px;


                        }

                        &:hover {
                            background-color: rgba($subFColor, 1) !important
                        }
                    }

                    &.active {
                        .nav-link {
                            background-color: rgba($subFColor, 1) !important;
                        }
                    }
                }


            }



            // .search-form {
            //     position: relative;

            //     .search-icon {
            //         position: absolute;
            //         z-index: 2;
            //         top: 50%;
            //         left: 2%;
            //         transform: translateY(-50%);
            //         display: block;
            //         line-height: 2.375rem;
            //         pointer-events: none;

            //     }

            //     input {
            //         padding-left: 1.5em;
            //         width: 100%;
            //         background-color: transparent !important;
            //         border: none;
            //         width: 90% !important;
            //         color: $subFColor;
            //         border-bottom: 1px solid gray;

            //         &:focus {
            //             &+.line {
            //                 width: 100%;
            //             }
            //         }

            //     }

            //     .line {
            //         position: absolute;
            //         bottom: 0;
            //         left: 0;
            //         width: 0;
            //         height: 2px;
            //         background-color: $subFColor;
            //         transition: all .3s ease-in-out;
            //     }


            // }


        }
    }


    @import '../components/menu';

}

@import '../components/_searchform.scss';